<%= stylesheet_link_tag 'sidebar_hide.css', :plugin => 'sidebar_hide' %>
<%= javascript_include_tag 'sidebar_hide.js', :plugin => 'sidebar_hide' %>

<% if sidebar_content? %>
    <div id="sidebarHandler">
        <div id="hideSidebarButton" onclick="hideSideBar()" />
    </div>
    <% if cookies["sidebar_hide"] == "hide" %>
        <script>
            $(function() {
                hideSideBar();
            });
        </script>
    <% end %>
<% end %>